{% extends "home/layout2.html" %}
{% load static %}
{%block content%}
<style>
    .header {
        text-align: center;
        margin-top: 20px;
    }

    .container {
        border: 5px solid black;
        border-radius: 20px;
        width: 70%;
        padding: 20px;
    }

    .bar {
        margin-top: 30px;
    }

    .header-info {
        margin-top: 30px;
    }

    .total {
        text-align: center;
    }

    h5 {
        border: 5px solid black;
        border-radius: 20px;
        padding: 10px;
    }

    .tab1 {
        margin-top: 50px;
    }
</style>

<div class="tab">
    <div class="header">
        <h1>TODAY</h1>
    </div>
    <div class="bar">
        <div class="container">
            <div class="d-flex flex-column">
                {% for time_stage in list_stage %}
                    <span style="font-weight: 900;">{{time_stage}}</span>
                    <div class="pl-1">
                        {% for food in food_calorie %}
                            {% if food.time_of_day == time_stage %}
                            <div>
                                - {{food.name}} {{food.calorie}} Cal
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="total mt-4">
                <h5>TOTAL : {{total}} Cal</h5>
            </div>
        </div>
    </div>
</div>
<div class="tab1">
    <div class="header">
        <h1>Diary</h1>
    </div>
    <div class="bar">
        <div class="container">
            <div class="row">
                {% for daydata in days_history.days %}
                <div class="col-sm-12 col-md-4 flex-column d-flex align-items-center mt-1">
                    {% if daydata.selected %}
                    <a type="button" class="btn btn-info w-100" href="/diary?date={{daydata.datetime}}" style="width: 200px;height: 40px;">
                        <h7>{{daydata.daystr}}</h7>
                    </a>
                    {% else %}
                    <a type="button" class="btn btn-dark w-100" href="/diary?date={{daydata.datetime}}" style="width: 200px;height: 40px;">
                        <h7>{{daydata.daystr}}</h7>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% if days_history.foods_calorie %}
            <div class="row mt-3 d-flex flex-column">
                {% for time_stage in list_stage %}
                    <span style="font-weight: 900;">{{time_stage}}</span>
                    <div class="pl-1">
                        {% for food in days_history.foods_calorie %}
                            {% if food.time_of_day == time_stage %}
                            <div>
                                - {{food.name}} {{food.calorie}} Cal
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- <div class="tab1">
    <div class="d-flex justify-content-center align-items-center">
        <div class="header w-100 d-flex flex-column justify-content-center align-items-center">
            <h1 class="m-0">Progress</h1>
            <div class="mt-2">
                <a href="add_progress" class="btn btn-info">Add Image</a>
            </div>
        </div>
    </div>
    <div class="bar">
        <div class="container">
            <div class="row">
                {% for image in images %}
                    <div class="col-4 flex-column">
                        <img width="100%" src="{{ '/media/'|add:image.url_image }}"/>
                    </div>
                {% endfor %}

                <!-- <div class="col-4 flex-column">
                    <a type="button" class="btn btn-dark" href="/" style="width: 200px;height: 40px;">
                        <h7>17 July 2023</h7>
                    </a>
                </div>

                <div class="col-4 flex-column">
                    <a type="button" class="btn btn-dark" href="/" style="width: 200px;height: 40px;">
                        <h7>18 July 2023</h7>
                    </a>
                </div> -->

            </div>
        </div>
    </div>
</div> -->
{% endblock %}