{% include "frontend/layout3.html" %}
{% load static %}

{%block content%}

<style>

.header{
 text-align: center;
 margin-top: 30px;
}

.pic-food{
 text-align: center;
 margin-top: 30px;
}

.row{
 text-align: center;
}

</style>

<div class="container">
    <div class="header">
        <h1>Tom yum kung</h1>
    </div>
    <div class="pic-food">
        <img src="{% static '/images/food-recomment1.jpg' %}" alt="food-pic" style="width: 300px ; height: 300px;">
    </div>
    <br>
    <br>
    <p>Chef Nooror Somany Steppe is tom yam kung recipe 2 services
        <br>
        For brown stock
        <br>
        Ingredients:
        <br>
        -4 brown heads and shells
        <br>
        -2 crushed lemongrasses
        <br>
        -2 coriander robots
        <br>
        -2 crushed shallots
        <br>
        -3 cups of water
        <br>
        <br>
        Instructions:
        <br>
        1.Bring a pot of water to boat over medium heat.
        <br>
        2.Add shrimp heads and shells, coriander robots, brushed lemongrass, and crushed shallots. Add a little salt and turn off the heat.
        For tom yam kung
        <br>
        <br>
        Ingredients:
        <br>
        -4 river prawns
        <br>
        -3 cups of brown stock
        <br>
        -1 lemongrass (crushed and finely chopped)
        <br>
        -2 leaves of Bergamot leaves (finely shredded by hand) 2 leaves
        <br>
        -2 crushed coriander robots 
        <br>
        -5 crushed bird is eye chillies
        <br>
        -3 straw mushrooms (sliced lengthwise) 
        <br>
        -6 grams of thinly sliced galangal
        <br>
        -2 leaves of coriander leaves for garnish
        For seasonings
        <br>
        -3 table spoons of fish sauce
        <br>
        -2½ tablespoons of lime juice
        <br>
        -1½ tablespoons of sugar
        <br>
        -1 tablespoon of roasted chilli paste
        <br>
        <br>
        Instructions:
        <br>
        1.Bring stock to a boat over medium heat.
        <br>
        2.Continue to boil, adding brushed lemongrass and coriander root.
        <br>
        3.Add straw mushrooms, river prawns, galangal, and bergamot leaves. Season with fish sauce, sugar, and roasted chilli paste. Allow to boil a little longer.
        <br>
        4.Turn off the heat. Add bird is eye chillies and lime juice, and remove the coriander robots. Pour into serving bowls.
        <br>
        5.Garnish with cilantro leaves.
        <br>
        <br>
        Extra tips from the chef:
        <br>
        -Adding the lime juice after turning off the heat makes the tom yam more fragrant.
        <br>
        -Adding the bergamot leaves after the shrimp Enhances the shrimp is aroma.
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-6 flex-column">
                <a type="button" class="btn btn-secondary" href="/" style="width: 400px;height: 50px;"><h4>return</h4></a>
            </div>
    
            <div class="col-6 flex-column">
                <a type="button" class="btn btn-success" href="/" style="width: 400px;height: 50px;"><h4>submit</h4></a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</div>

{% endblock %}