{% include "frontend/layout.html" %}
{% load static %}
{%block content%}

<style>

  
input[type=password],
select {
width: 100%;
padding: 20px;
border: 1px solid #e709f3;
background-color: #efe41e;
border-radius: 10px;
resize: vertical;
}
  
label {
padding: 10px 10px 10px 0;
display: inline-block;
}
  
.container {
border-radius: 20px;
background-color: #3CB371;
padding: 20px;
margin-top: 20px;
width: 60%;
}
  
.col-25 {
float: left;
width: 20%;
margin: 2px;
color: #efe41e;
font-family: 'Prompt', sans-serif;
margin-top: 20px;
  
}
  
.col-75 {
float: left;
width: 45%;
margin-top: 20px;
color: #efe41e;
}

.col-100{
text-align: right;
width: 30%;
margin-top: 10px;
}

.col-120 {
float: left;
width: 20%;
margin: 2px;
color: #efe41e;
font-family: 'Prompt', sans-serif;
margin-top: 20px;
}

.col-140 {
float: left;
width: 25%;
margin-top: 20px;
color: #efe41e;
}


.header{
text-align: center;
margin-top: 30px;
}

.pic-logo{
text-align: center;
margin-top: 30px;
}

button[type=button],select{
 background-color: black;
 color: white;
}

body{
background: url("/static/images/theme_main.jpg") no-repeat center fixed;
background-size: cover;
}

</style>


<div class="justify-content-center">
    <div class="header">
        <h1>PROFILE</h1>
{% if request.user.is_authenticated %}        
    </div>
    <div class="pic-logo">
        <img src="{{ request.user.person.image.url }}" alt="Avatar" width="150px" height="150px" style="border-radius: 50%;">
        <div class="justify-content-center" style="text-align: center;margin-top: 20px;">
            <!-- <div class="col-200">
              <input  type="file" id="image" name="image" value=" add image..">
            </div> -->
            <button type="button" style="border-radius: 20px;width: auto;">Change image</button>
          </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-25">
            <label for="name">Name :</label>
          </div>
          <div class="col-75">
            <label id="name" name="name">{{request.user.person.name}}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-120">
            <label for="weight">Weight :</label>
          </div>
          <div class="col-140">
            <label id="weight" name="weight">{{request.user.person.weight}} KG</label>
          </div>

          <div class="col-120">
            <label for="height">Height :</label>
          </div>
          <div class="col-140">
            <label id="height" name="height">{{request.user.person.height}} cm</label>
          </div>
        </div>

        <div class="row">
          <div class="col-120">
            <label for="age">Age :</label>
          </div>
          <div class="col-140">
            <label id="age" name="age">{{request.user.person.age}} year</label>
          </div>

          <div class="col-120">
            <label for="gender">Gender :</label>
          </div>
          <div class="col-140">
            <label id="gender" name="gender">{{request.user.person.gender}}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="email">Email :</label>
          </div>
          <div class="col-75">
            <label id="email" name="email">{{request.user.email}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="username">Username :</label>
          </div>
  
          <div class="col-75">
            <label id="username" name="username">{{request.user.username}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="password">Password :</label>
          </div>
  
          <div class="col-75">
            <label type="password" id="password" name="password">*********</label>
          </div>

          <div class="col-100">
            <button type="button" style="border-radius: 20px;padding: 10px;">Change Password</button>
          </div>

        </div>
  
        <div class="row">
          <div class="col-25">
            <label for="phone">Phone :</label>
          </div>
          <div class="col-75">
            <label id="phone" name="phone">{{request.user.person.phone}}</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-25">
            <label for="cost" id="cost">COST :</label>
          </div>
          <div class="col-75">
            <label id="cost_row" name="cost">{{request.user.person.cost}}</label>
          </div>
        </div>
        <br>
        <br>
        <br>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endif %}
{% endblock %}
