{% include "home/layout2.html" %}
{% include "header.html" %}
{% load static %}

{%block content%}
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
<style>
    .header {
        text-align: center;
        margin-top: 20px;
    }

    .container {
        border: 5px solid black;
        border-radius: 20px;
        width: 70%;
    }

    .bar {
        margin-top: 30px;
    }

    .type-diet {
        border: 5px solid black;
        border-radius: 20px;
        background-color: #605dff;
        padding: 10px;
        width: 50%;
    }

    /* ------------------------------------ */

    .next {
        float: right;

    }

    .prev {
        float: left;

    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

    .enter {
        text-align: center;
        margin-top: 40px;
    }
</style>
{% if day_goal < 30 %}
<div class="slideshow-container">
    <div class="mySlides">
        <div class="header">
            <h1>TODAY</h1>
        </div>
        <div class="bar">
            <div class="container">
                <br>
                <h7>Calories</h7>
                <br>
                <br>
                <div class="row">
                    <div class="col-6 flex-column">
                        <h7>Remain = {{remain.today}}</h7>
                    </div>
                    <div class="col-6 flex-column">
                        <div class="type-diet">
                            <h7>TYPE : {{diet_type}}</h7>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-6 flex-column">
                        <h7>Remaining Calories : </h7>
                        <br>
                        <br>
                        <canvas id="ChartToDay" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="col-6 flex-column">
                        <div class="row" style="margin-top: 100px;">
                            <div class="col-12 flex-column">
                                <img src="{% static '/images/goal/goal-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Base Goal : {{ bmr.day }} Cal</h7>
                            </div>
                            <div class="col-12 flex-column" style="margin-top: 50px;">
                                <img src="{% static '/images/goal/food-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Food : {{food.totals.today}} Cal</h7>
                            </div>
                            <div class="col-12 flex-column" style="margin-top: 50px;">
                                <img src="{% static '/images/goal/exercise-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Exercise : {{exercise.totals.today}} Cal</h7>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <a class="prev" onclick="plusSlides(-1)"><img src="{% static '/images/goal/back-logo.png' %}" alt="model-icon"
                    style="width: 50px ; height: 50px;"></a>
            <a class="next" onclick="plusSlides(1)"><img src="{% static '/images/goal/next-logo.png' %}" alt="model-icon"
                    style="width: 50px ; height: 50px;"></a>
        </div>
    </div>
    <div class="mySlides">
        <div class="header">
            <h1>YESTERDAY</h1>
        </div>
        <div class="bar">
            <div class="container">
                <br>
                <h7>Calories</h7>
                <br>
                <br>
                <div class="row">
                    <div class="col-6 flex-column">
                        <h7>Remain = {{remain.yesterday}}</h7>
                    </div>
                    <div class="col-6 flex-column">
                        <div class="type-diet">
                            <h7>TYPE : {{diet_type}}</h7>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-6 flex-column">
                        <h7>Remaining Calories : </h7>
                        <br>
                        <br>
                        <canvas id="ChartYesterday" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="col-6 flex-column">
                        <div class="row" style="margin-top: 100px;">
                            <div class="col-12 flex-column">
                                <img src="{% static '/images/goal/goal-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Base Goal : {{ bmr.day }} Cal</h7>
                            </div>
                            <div class="col-12 flex-column" style="margin-top: 50px;">
                                <img src="{% static '/images/goal/food-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Food : {{food.totals.yesterday}} Cal</h7>
                            </div>
                            <div class="col-12 flex-column" style="margin-top: 50px;">
                                <img src="{% static '/images/goal/exercise-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Exercise : {{exercise.totals.yesterday}} Cal</h7>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <a class="prev" onclick="plusSlides(-1)"><img src="{% static '/images/goal/back-logo.png' %}" alt="model-icon"
                    style="width: 50px ; height: 50px;"></a>
            <a class="next" onclick="plusSlides(1)"><img src="{% static '/images/goal/next-logo.png' %}" alt="model-icon"
                    style="width: 50px ; height: 50px;"></a>
        </div>
    </div>
    <div class="mySlides">
        <div class="header">
            <h1>ALL 30 DAY</h1>
        </div>
        <div class="bar">
            <div class="container">
                <br>
                <h7>Calories</h7>
                <br>
                <br>
                <div class="row">
                    <div class="col-6 flex-column">
                        <h7>Remain = {{remain.Days}}</h7>
                    </div>
                    <div class="col-6 flex-column">
                        <div class="type-diet">
                            <h7>TYPE : {{diet_type}}</h7>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-6 flex-column">
                        <h7>Remaining Calories : </h7>
                        <br>
                        <br>
                        <canvas id="ChartDays" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="col-6 flex-column">
                        <div class="row" style="margin-top: 100px;">
                            <div class="col-12 flex-column">
                                <img src="{% static '/images/goal/goal-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Base Goal : {{ bmr.Days }} Cal</h7>
                            </div>
                            <div class="col-12 flex-column" style="margin-top: 50px;">
                                <img src="{% static '/images/goal/food-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Food : {{food.totals.Days}} Cal</h7>
                            </div>
                            <div class="col-12 flex-column" style="margin-top: 50px;">
                                <img src="{% static '/images/goal/exercise-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Exercise : {{exercise.totals.Days}} Cal</h7>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <a class="prev" onclick="plusSlides(-1)"><img src="{% static '/images/goal/back-logo.png' %}" alt="model-icon"
                    style="width: 50px ; height: 50px;"></a>
            <a class="next" onclick="plusSlides(1)"><img src="{% static '/images/goal/next-logo.png' %}" alt="model-icon"
                    style="width: 50px ; height: 50px;"></a>
        </div>
    </div>

</div>
<br>
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

<div class="tab">
    <div class="bar">
        <form class="container" method="POST" action="/goal/exercise/add">
            {% csrf_token %}
            <div class="header">
                <h1>EXERCISE</h1>
            </div>
            <div class="row" style="text-align: center;">
                <div class="col-4 flex-column">
                    <img src="{% static '/images/goal/burn-logo.png' %}" alt="model-icon"
                        style="width: 50px ; height: 50px;">
                </div>
                <div class="col-3 flex-column" style="margin-top: 15px;">
                    <h7>Exercise : </h7>
                </div>
                <div class="col-4 flex-column">
                    <input type="text" id="add-exercise" name="add-exercise" placeholder="Add..."
                        style="margin-top: 10px; width: 100%;" class="form-control">
                </div>
                <div class="col-1" style="margin-top: 15px;">
                    <h7>Cal</h7>
                </div>
            </div>
            <br>
            <div class="row" style="text-align: center;">
                <div class="col-4 flex-column">
                    <img src="{% static '/images/goal/time-logo.png' %}" alt="model-icon"
                        style="width: 40px ; height: 40px;">
                </div>
                <div class="col-3 flex-column" style="margin-top: 15px;">
                    <h7>TIME : </h7>
                </div>
                <div class="col-4 flex-column">
                    <input type="text" id="add-time" name="add-time" placeholder="Add..." style="margin-top: 10px; width: 100%;" class="form-control">
                </div>
                <div class="col-1" style="margin-top: 15px;">
                    <h7>HR</h7>
                </div>
            </div>
            <div class="enter">
                <button value="submit" type="submit" class="btn btn-dark" name="submit-exercise">Submit</button>
            </div>
            <br>
            <br>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<form method="POST" action="/goal/delete/" class="enter">
    {% csrf_token %}
    <button type="submit" class="btn btn-dark" style="width: 400px;height: 50px;">
        <h4>Cancel</h4>
    </button>
</form>
{% else %}
<div class="slideshow-container">
    <div class="mySlides">
        <div class="header">
            <h1>Summary of results</h1>
        </div>
        <div class="bar">
            <div class="container">
                <br>
                <h7>Calories</h7>
                <br>
                <br>
                <div class="row">
                    <div class="col-6 flex-column">
                        <h7>Remain = {{remain.Days}}</h7>
                    </div>
                    <div class="col-6 flex-column">
                        <div class="type-diet">
                            <h7>TYPE : {{diet_type}}</h7>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-6 flex-column">
                        <h7>Remaining Calories : </h7>
                        <br>
                        <br>
                        <canvas id="ChartDays" style="width:100%;max-width:600px"></canvas>
                    </div>
                    <div class="col-6 flex-column">
                        <div class="row" style="margin-top: 100px;">
                            <div class="col-12 flex-column">
                                <img src="{% static '/images/goal/goal-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Base Goal : {{ bmr.Days }} Cal</h7>
                            </div>
                            <div class="col-12 flex-column" style="margin-top: 50px;">
                                <img src="{% static '/images/goal/food-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Food : {{food.totals.Days}} Cal</h7>
                            </div>
                            <div class="col-12 flex-column" style="margin-top: 50px;">
                                <img src="{% static '/images/goal/exercise-icon.png' %}" alt="model-icon"
                                    style="width: 50px ; height: 50px;">
                                <h7 style="margin-left: 20px;">Exercise : {{exercise.totals.Days}} Cal</h7>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<form class="d-flex justify-content-center flex-column mt-3" method="POST" enctype="multipart/form-data" action="/goal/change/">
    {% csrf_token %}
    <div class="d-flex justify-content-center flex-column">
        <h3 class="w-100 d-flex justify-content-center">Result fate</h3>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center flex-column">
                    <label class="d-flex justify-content-center align-items-center">
                        <span class="btn btn-info">Click to Add Image</span>
                        <input hidden name="image-progress" id="imageInput" type="file"/>
                    </label>
                    <div class="preview-progress d-flex justify-content-center align-items-center mt-1">
                        <img id="imagePreview" src="#" alt="Image Preview" style="display:none; max-width: 500px; width: 70%;">
                    </div>
                </div>
                <script>
                    document.getElementById('imageInput').addEventListener('change', function(event) {
                        const file = event.target.files[0];
                        if (file) {
                            const reader = new FileReader();
            
                            reader.onload = function(e) {
                                const previewImage = document.getElementById('imagePreview');
                                previewImage.src = e.target.result;
                                previewImage.style.display = 'block'
                            }
            
                            reader.readAsDataURL(file)
                            document.getElementById("button-submit-image").style.display = "block"
                        }
                    });
                </script>
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                <img 
                    src="{% static '/images/goal/'|add:diet_body %}" 
                    alt="model-fat" 
                    style="width: 300px ; height: 300px;"
                >
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-dark" style="width: 400px;height: 50px;">
            <h4>Submit</h4>
        </button>
    </div>
</form>
{% endif %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script>
    const labels = [
        "Remaining energy",
        "Energy consumed",
        "Exercise"
    ]
    const backgroundColor = [
        "#b91d47",
        "#00aba9",
        "#FFCE56"
    ]
    const hoverBackground = [
        "#b91d47",
        "#00aba9",
        "#FFCE56"
    ]

    const today = {
        labels: labels,
        datasets: [
            {
                data: [JSON.parse("{{bmr.day|safe}}") , JSON.parse("{{food.totals.today|safe}}"), JSON.parse("{{exercise.totals.today|safe}}")],
                backgroundColor: backgroundColor,
                hoverBackgroundColor: hoverBackground,
            }]
    };
    const yesterday = {
        labels: labels,
        datasets: [
            {
                data: [JSON.parse("{{bmr.day|safe}}") , JSON.parse("{{food.totals.yesterday|safe}}"), JSON.parse("{{exercise.totals.yesterday|safe}}")],
                backgroundColor: backgroundColor,
                hoverBackgroundColor: hoverBackground,
            }]
    };
    const sevenDay = {
        labels: labels,
        datasets: [
            {
                data: [JSON.parse("{{bmr.Days|safe}}") , JSON.parse("{{food.totals.Days|safe}}"), JSON.parse("{{exercise.totals.Days|safe}}")],
                backgroundColor: backgroundColor,
                hoverBackgroundColor: hoverBackground,
            }]
    };

    const ToDayDocument = document.getElementById('ChartToDay')
    const YesterdayDocument = document.getElementById('ChartYesterday')
    const DaysDocument = document.getElementById('ChartDays')

    // ------------------------
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if(slides.length && dots.length) {
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    }

    Chart.pluginService.register({
        beforeDraw: function (chart) {
            var width = chart.chart.width,
                height = chart.chart.height,
                ctx = chart.chart.ctx;

            ctx.restore();
            var fontSize = (height / 114).toFixed(2);
            ctx.font = fontSize + "em sans-serif";
            ctx.textBaseline = "middle";

            var text = chart.config.options.customText || "",
                textX = Math.round((width - ctx.measureText(text).width) / 2),
                textY = height / 2;

            ctx.fillText(text, textX, textY);
            ctx.save();
        }
    });

    ToDayDocument && new Chart(ToDayDocument, {
        type: 'doughnut',
        data: today,
        options: {
            responsive: true,
            legend: {
                display: false
            },
            customText : JSON.parse("{{remain.today|safe}}")
        }
    });

    YesterdayDocument && new Chart(YesterdayDocument, {
        type: 'doughnut',
        data: yesterday,
        options: {
            responsive: true,
            legend: {
                display: false
            },
            customText : JSON.parse("{{remain.yesterday|safe}}")
        }
    });

    new Chart(DaysDocument, {
        type: 'doughnut',
        data: sevenDay,
        options: {
            responsive: true,
            legend: {
                display: false
            },
            customText : JSON.parse("{{remain.Days|safe}}")
        }
    });
</script>
{% load sweetify %}
{% sweetify %}
{% endblock %}