{% extends "frontend/layout2.html" %}
{% load static %}
{%block content%}
<style>

.header{
 text-align: center;
 margin-top: 20px;
}

.container{
 border: 5px solid black;
 border-radius: 20px;
 width: 70%;
 padding: 20px;
}

.bar{
 margin-top: 30px;
}

.header-info{
 margin-top: 30px;
}

.total{
 text-align: center;
}

h5{
 border: 5px solid black; 
 border-radius: 20px;
 padding: 10px;
}

.tab1{
 margin-top: 50px;
}

</style>

<div class="tab">
    <div class="header">
        <h1>TODAY</h1>
    </div>
    <div class="bar">
        <div class="container">
            <div class="header-info">
                <h7>breakfast</h7>
            </div>
                <h7>-kaopat pork 500 Cal</h7>
            <br>
            <br>
                <h7>lunch</h7>
            <br>
                <h7>-noodle tomyum kun 700 Cal</h7>
            <br>
            <br>
                <h7>dinner</h7>
            <br>
                <h7>-Salam Tuna 300 Cal</h7>
            <br>
            <br>
            <div class="total">
                <h5>TOTAL : 1500 Cal</h5>
            </div>
        </div>
    </div>
</div>
<div class="tab1">
    <div class="header">
        <h1>Diary</h1>
    </div>
    <div class="bar">
        <div class="container">
            <div class="row">
                <div class="col-4 flex-column">
                    <a type="button" class="btn btn-dark" href="/" style="width: 200px;height: 40px;"><h7>16 July 2023</h7></a>
                </div>
    
                <div class="col-4 flex-column">
                    <a type="button" class="btn btn-dark" href="/" style="width: 200px;height: 40px;"><h7>17 July 2023</h7></a>
                </div>
    
                <div class="col-4 flex-column">
                    <a type="button" class="btn btn-dark" href="/" style="width: 200px;height: 40px;"><h7>18 July 2023</h7></a>
                </div> 
    
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}