{% extends "home/layout2.html" %}
{% load static %}
{%block content%}

<style>
    .container-category {
        border: 5px solid black;
        border-radius: 20px;
        margin: 0 auto;
    }

    .content-category {
        overflow-y: auto;
        height: calc(100% - 300px);
    }
</style>
<div class="content-category container d-flex justify-content-start flex-column">
    <h3 class="text-center">{{title}}</h3>
    {% if menus %}
    <div class="row">
        {% for menu in menus %}
            <div class="col-4 flex-column">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <a class="d-flex justify-content-center flex-column" href="/detailfood/{{menu.value}}">
                        <img src="{{menu.url}}" alt="category-food"
                            width="150px" height="150px" style="border-radius: 20px;margin: 20px;">
                        <p class="text-center">{{menu.name}}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row d-flex justify-content-center">
        No menus
    </div>
    {% endif %}
</div>

{% endblock %}