{% include "home/layout3.html" %}
{% load static %}

{%block content%}

<style>

.header{
 text-align: center;
 margin-top: 30px;
}

.pic-food{
 text-align: center;
 margin-top: 30px;
}

.row{
 text-align: center;
}

</style>

<div class="container">
    <div class="pic-food">
        <img src="{{ '/media/thaimenu/'|add:url_image }}" alt="food-pic" style="width: 80% ;">
    </div>
        <br>
        <br>
        <br>
        <form>
            <div class="row">
                <input name="number" type="text"/>
            </div>
            <div class="row">
                <div class="col-6 flex-column">
                    <a type="button" class="btn btn-secondary" href="/" style="width: 400px;height: 50px;"><h4>return</h4></a>
                </div>
        
                <div class="col-6 flex-column">
                    <a type="button" class="btn btn-success" href="/detailfood/add/{{menu_id}}/" style="width: 400px;height: 50px;"><h4>submit</h4></a>
                </div>
            </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</div>

{% endblock %}