{% extends "home/layout2.html" %}
{% load static %}
{%block content%}

<style>
    .recomment-bar {
        text-align: center;
    }

    h2 {
        margin-top: 20px;
    }

    .container-recomment {
        border: 5px solid black;
        border-radius: 20px;
        width: 50%;
        margin: 0 auto;
    }

    .category-food {
        text-align: center;
    }

    .container-menu {
        border: 5px solid black;
        border-radius: 20px;
        width: 50%;
        margin: 0 auto;
        padding: 10px;
    }
</style>

{% if request.user.is_authenticated %}
<div class="recomment-bar">
    <div class="header-recomment">
        <h2>RECOMMEND</h2>
    </div>
    <div class="bar1">
        <div class="container-recomment">
            <div class="row">
                {% if menus %}
                    {% for menu in menus %}
                        <div class="col-4 flex-column">
                            <div class="card-info">
                                <a href="detailfood/{{menu.value}}">
                                    <img src="{{menu.url}}" alt="recomment-food"
                                        width="100px" height="100px" style="border-radius: 20px;margin: 20px;">
                                </a>
                                <p>{{menu.name}}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="w-100 col-4 d-flex justify-content-center align-items-center flex-column">
                        ไม่พบข้อมูลแนะนำอาหาร
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="category-food">
    <div class="header-menu">
        <h2>CATEGORY</h2>
    </div>
    <div class="container-menu">
        <div class="row">
            {% for category in categorys %}
            <div class="col-4 flex-column mt-1">
                <a type="button" class="btn btn-dark" href="/category/{{category.id}}" style="width: 160px;height: 40px;">
                    <h7>{{category.name}}</h7>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}